---
---
<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="oldufa, old ufa, старая уфа, уфа, старые снимки, древняя уфа, незатоптанная башкирия, старые фото">
    <meta name="description" content="Все фотографии старой Уфы в одном месте. Посмотри на историю!">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="Все фотографии старой Уфы в одном месте. Посмотри на историю!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:image" content="{{site.url}}/img/ogp.jpg">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/css/L.Control.Basemaps.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/markercluster.css" />
    <link rel="stylesheet" type="text/css" href="/css/lightgallery.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.modal.css" media="screen" />

    <script type="text/javascript" src="/js/leaflet.js"></script>
    <script type="text/javascript" src="/js/leaflet.ajax.min.js"></script>
    <script type="text/javascript" src="/js/leaflet.markercluster.js"></script>
    <script type="text/javascript" src="/js/L.Control.Basemaps.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/lightgallery.min.js"></script>
    <script type="text/javascript" src="/js/lg-zoom.js"></script>
    <script type="text/javascript" src="/js/jquery.modal.min.js"></script>
    

</head>
<body>
    <div class="header">
        <div class="table-cell">
            <a href="/" class="links">Старая Уфа</a>
        </div>
        <div class="table-cell">
            <a href="/about.html" rel="modal:open" class="links">О проекте</a>
        </div>
    </div>
    <div class="rightpanel">    
        <div id="gallery">
            <a href="/img/kreml.jpg" class="g-link">
                <img src="/img/kreml.jpg" alt="Уфимский Кремль в XVII-XVIII вв.. Реконструкция." title="Уфимский Кремль в XVII-XVIII вв.. Реконструкция."/>
            </a>
        </div>
    </div>
    <div class="feedback">
        <div class="table-cell">
            <a href="/feedback.html" rel="modal:open" class="links">FeedBack</a>
        </div>
    </div>
    <div id="map"></div>
    <script>
        var oldPoint;
        var photosData;
        var $lg = $('#gallery');
        var map = L.map('map').setView([54.725710, 55.961823], 14);


        var basemaps = [
            L.tileLayer('//stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png', {
                attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                subdomains: 'abcd',
                maxZoom: 18,
                minZoom: 1,
                label: 'Watercolor'
            }),
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                subdomains: 'abc',
                maxZoom: 18,
                minZoom: 1,
                label: 'OSM'
            }),
            L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
                subdomains: 'abcd',
                maxZoom: 18,
                minZoom: 1,
                label: 'Esri WorldImagery'
            })
        ];

        $.getJSON("/data/photos.json", function(json){
            photosData = json;
        });


        function resetLightGallery() {
            $lg.data('lightGallery').destroy(true);
            $lg.lightGallery({
                download: false
            });
        }


        var geoPointsLayer = new L.GeoJSON.AJAX("/data/points.geojson", {
            style: function (feature) {
                return feature.properties;
            },
            onEachFeature: onEachFeature,
                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, {
                        radius: 5,
                        fillColor: "#ff7800",
                        color: "#000",
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 1
                    });
                }
            });

        function onEachFeature(feature, layer) {
            layer.on('click', function (e) {
                    L.DomEvent.stopPropagation(e);
                id = feature.properties.id;
                html = '';

                if (typeof oldPoint != 'undefined') {
                    oldPoint.setStyle({fillColor: "#ff7800"});
                };
                oldPoint = this;

                thisPoint = this;
                thisPoint.setStyle({fillColor: "#00B7FF"});

                $.each(photosData[id], function(key, value) {
                    html += '<a href="' + value.photoUrl + '" class="g-link"><img src="' + value.photoUrl + '"  alt="' + value.photoTitle + '<br>' + value.photoYear + ' г."  title="' + value.photoTitle + '"/></a>';
                })
                $('#gallery').html(html);

                resetLightGallery();
            });
        }


        var markers = new L.MarkerClusterGroup({
            showCoverageOnHover: false,
            maxClusterRadius: 80,
        })

        geoPointsLayer.on('data:loaded', function () {
            markers.addLayer(geoPointsLayer);
            map.addLayer(markers);
            
        });

        map.addControl(L.control.basemaps({
            basemaps: basemaps,
            tileX: 0,
            tileY: 0,
            tileZ: 1
        }));
        //map.addLayer(geoPointsLayer);

        $lg.lightGallery({
            download: false
        });


        map.on('click',function(){
            if (typeof oldPoint != 'undefined') {
                if (oldPoint.options.fillColor == '#00B7FF') {
                    oldPoint.setStyle({fillColor: "#ff7800"});
                    html = '<a href="/img/kreml.jpg" class="g-link"><img src="/img/kreml.jpg" alt="Уфимский Кремль в XVII-XVIII вв.. Реконструкция." title="Уфимский Кремль в XVII-XVIII вв.. Реконструкция."/></a>';
                    $('#gallery').html(html);
                    resetLightGallery();
                }
            };
        });


        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-38389457-3', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
